<a href="https://colab.research.google.com/github/mblackstock/notebooks/blob/main/notebooks/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pokemon dataset and analysis.

We want to find out which Pokemon win the most!

References
*   https://www.kaggle.com/rounakbanik/pokemon
*   https://www.kaggle.com/mmetter/pokemon-data-analysis-tutorial
*   https://www.kaggle.com/rtatman/which-pokemon-win-the-most/notebook

In [2]:
!rm -rf notebooks
!git clone https://github.com/mblackstock/notebooks.git

Cloning into 'notebooks'...
remote: Enumerating objects: 259, done.
remote: Counting objects: 100% (259/259), done.
remote: Compressing objects: 100% (249/249), done.
remote: Total 259 (delta 42), reused 171 (delta 3), pack-reused 0
Receiving objects: 100% (259/259), 15.64 MiB | 10.81 MiB/s, done.
Resolving deltas: 100% (42/42), done.

In [39]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as plt # data visualization

import seaborn as sns #data visualization
import random 

random.seed(1)
# Import the dataset
pokemon = pd.read_csv("notebooks/data/pokemon/pokemon.csv")
# rename the column with a pound sign/hashtag as "number" its name
# The reason for this is when  we try and access this column later it will comment out the code
pokemon = pokemon.rename(index=str, columns={"#": "Number"})
combat = pd.read_csv("notebooks/data/pokemon/combats.csv")
pokemon.loc['230']

abilities            ['Pickup', 'Sand Veil']
against_bug                                1
against_dark                               1
against_dragon                             1
against_electric                           0
against_fairy                              1
against_fight                              1
against_fire                               1
against_flying                             1
against_ghost                              1
against_grass                              2
against_ground                             1
against_ice                                2
against_normal                             1
against_poison                           0.5
against_psychic                            1
against_rock                             0.5
against_steel                              1
against_water                              2
attack                                    60
base_egg_steps                          5120
base_happiness                            70
base_total                               330
capture_rate                             120
classfication              Long Nose Pokémon
defense                                   60
experience_growth                    1000000
height_m                                 0.5
hp                                        90
japanese_name                    Gomazouゴマゾウ
name                                  Phanpy
percentage_male                           50
pokedex_number                           231
sp_attack                                 40
sp_defense                                40
speed                                     40
type1                                 ground
type2                                    NaN
weight_kg                               33.5
generation                                 2
is_legendary                               0
Name: 230, dtype: object

In [4]:
combat.head()

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668
3            237             683     683
4            151             231     151

In [5]:
print("Dimenstions of Pokemon: " + str(pokemon.shape))
print("Dimenstions of Combat: " + str(combat.shape))

Dimenstions of Pokemon: (801, 41)
Dimenstions of Combat: (50000, 3)

Lets look for some missing data.  Why are there missing type2 entries?  Why are there missing heights?

In [6]:
pokemon.isnull().sum()

abilities              0
against_bug            0
against_dark           0
against_dragon         0
against_electric       0
against_fairy          0
against_fight          0
against_fire           0
against_flying         0
against_ghost          0
against_grass          0
against_ground         0
against_ice            0
against_normal         0
against_poison         0
against_psychic        0
against_rock           0
against_steel          0
against_water          0
attack                 0
base_egg_steps         0
base_happiness         0
base_total             0
capture_rate           0
classfication          0
defense                0
experience_growth      0
height_m              20
hp                     0
japanese_name          0
name                   0
percentage_male       98
pokedex_number         0
sp_attack              0
sp_defense             0
speed                  0
type1                  0
type2                384
weight_kg             20
generation             0
is_legendary           0
dtype: int64

In [14]:
# calculate the win % of each pokemon 
# add the calculation to the pokemon dataset 
total_Wins = combat.Winner.value_counts()
total_Wins

163    152
154    136
438    136
428    134
432    133
      ...
189      5
237      4
639      4
190      3
290      3
Name: Winner, Length: 783, dtype: int64

In [15]:
# get the number of wins for each pokemon
numberOfWins = combat.groupby('Winner').count()
numberOfWins

        First_pokemon  Second_pokemon
Winner
1                  37              37
2                  46              46
3                  89              89
4                  70              70
5                  55              55
...               ...             ...
796                39              39
797               116             116
798                60              60
799                89              89
800                75              75

[783 rows x 2 columns]

In [16]:
#both methods produce the same results
countByFirst = combat.groupby('Second_pokemon').count()
countBySecond = combat.groupby('First_pokemon').count()
countByFirst

                First_pokemon  Winner
Second_pokemon
1                          63      63
2                          66      66
3                          64      64
4                          63      63
5                          62      62
...                       ...     ...
796                        56      56
797                        67      67
798                        59      59
799                        69      69
800                        60      60

[784 rows x 2 columns]

In [17]:
print("Looking at the dimensions of our dataframes")
print("Count by first winner shape: " + str(countByFirst.shape))
print("Count by second winner shape: " + str(countBySecond.shape))
print("Total Wins shape : " + str(total_Wins.shape))

Looking at the dimensions of our dataframes
Count by first winner shape: (784, 2)
Count by second winner shape: (784, 2)
Total Wins shape : (783,)

Since the total wins has fewer rows than the first and second winner shape, one of the pokemon never won.

In [29]:
find_losing_pokemon= np.setdiff1d(countByFirst.index.values, numberOfWins.index.values)-1 #offset because the index and pokedex number are off by one
losing_pokemon = pokemon.iloc[find_losing_pokemon[0]] # using the number as the pokemon index
print(losing_pokemon)

abilities            ['Pickup', 'Sand Veil']
against_bug                                1
against_dark                               1
against_dragon                             1
against_electric                           0
against_fairy                              1
against_fight                              1
against_fire                               1
against_flying                             1
against_ghost                              1
against_grass                              2
against_ground                             1
against_ice                                2
against_normal                             1
against_poison                           0.5
against_psychic                            1
against_rock                             0.5
against_steel                              1
against_water                              2
attack                                    60
base_egg_steps                          5120
base_happiness                            70
base_total                               330
capture_rate                             120
classfication              Long Nose Pokémon
defense                                   60
experience_growth                    1000000
height_m                                 0.5
hp                                        90
japanese_name                    Gomazouゴマゾウ
name                                  Phanpy
percentage_male                           50
pokedex_number                           231
sp_attack                                 40
sp_defense                                40
speed                                     40
type1                                 ground
type2                                    NaN
weight_kg                               33.5
generation                                 2
is_legendary                               0
Name: 230, dtype: object